<<<<<<< HEAD
.header_box {
  text-align: center;
  background-color: #F0F3F4;
  padding: 0%;
  border: 0ch;
  margin: 3px;
}
.header {
  height: 60px;
  width: 300px;
  font-size: large;
  color: #F39C12;
  font-size: 20px;
}
.body {
  text-align: center;
  background-color: whitesmoke;
  height: 400px;
  padding: 0%;
  border: 0ch;
  margin: 3px;
}
table, th, td {
  border: 1px solid black;
}
.footer {
  text-align: center;
  background-color: gray;
  height: 50px;
  padding: 0%;
  border: 0ch;
  margin: 3px;
}
#copylright {
  size: 5px;
}
=======
body {
    background-color: powderblue;
  }
>>>>>>> fc8ef2a550e2a800d550f843d276c51c831e2a0a
